{% extends "network/layout.html" %}

{% block body %}
<h3>{{ title }}</h3>
{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">New Post</h5>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <textarea name="body" class="form-control"></textarea>
            <input type="submit" class="btn btn-primary" value="Post"/>
        </form>
    </div>
</div>
{% for post in page_obj %}
<div class="card">
    <div class="card-body">
            <h5 class="card-title"><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></h5>
            <a href="" class="card-link">Edit</a>
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text text-muted">Number of likes: {{ post.num_of_likes }}</p>
            <p class="card-text text-muted">{{ post.timestamp|date:"F j, Y, g:i a" }}</p>
        </div>
    </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}