{% extends "network/layout.html" %}
{% block body %}
<div class="container">
    <div class="row no-gutters">
        <div class="col-3">
            <h2>{{ profile.username}}</h2>
        </div>
        <div class="col-3" data-followers="{{ profile.followers.count }}" id="followers">
            Followers: {{ profile.followers.count }}
        </div>
        <div class="col-3">
            Following: {{ profile.following.count }}
        </div>
        <div class="col-3">
            {% if user != profile %}
                {% if profile in user.following.all %}
                <button class="btn btn-sm btn-primary" id="follow" value="{{profile.id}}">Unfollow</button>
                {% else %}
                <button class="btn btn-sm btn-primary" id="follow" value="{{profile.id}}">Follow</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% for post in posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></h5>
        <a href="" class="card-link">Edit</a>
        <p class="card-text">{{ post.body }}</p>
        <p class="card-text text-muted">Number of likes: {{ post.num_of_likes }}</p>
        <p class="card-text text-muted">{{ post.timestamp|date:"F j, Y, g:i a" }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var num_of_followers = parseInt(document.querySelector('#followers').dataset.followers);
            
            const selected = document.querySelector('#follow')
            selected.addEventListener('click', () => {
                profile_id = parseInt(document.querySelector('#follow').value);
                fetch(`/profile/${profile_id}`, {
                    method: 'PUT'
                });
                if (selected.innerHTML === "Follow") {
                    num_of_followers++;
                    selected.innerHTML = "Unfollow";
                } else {
                    num_of_followers--;
                    selected.innerHTML = "Follow";
                };
                document.querySelector('#followers').innerHTML = `Followers: ${num_of_followers}`;
            });
        });
    </script>

{% endblock %}
